<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hp.xmoblie">

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission xmlns:tools="http://schemas.android.com/tools"
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_xmobile"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_xmobile_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/AppTheme.Dark.NoActionBar">

        </activity>
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="sharedlink" android:host="filemanager"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.CheerDialog">
            <!--android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"-->
        </activity>
        <activity
            android:name=".Activity.CameraActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/AppTheme.Dark.Login" >

        </activity>
        <activity android:name=".Activity.SettingActivity">


        </activity>
        <activity android:name=".Activity.FileManagerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>
        <activity
            android:name=".Activity.CameraResultActivity"
            android:hardwareAccelerated="false">

        </activity>
        <activity android:name=".Activity.ImageDataSetActivity"/>
        <activity android:name=".Dialog.EditDataDialog"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog">
        </activity>
        <activity android:name=".Dialog.AreYouSureDialog"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog">
        </activity>
        <activity android:name=".Activity.HistoryActivity"/>
        <service android:name=".Service.DownloadManagerService"/>
        <service android:name=".Service.NotificationBarService"/>
    </application>

</manifest>